.navcontainer{
    height:100px;
    background:linear-gradient(black,#4c4c4c, transparent);
    font-family: 'Merienda One', cursive;
    color:white;
    display: flex;
    padding-top:30px; 
}
.myname{
    margin:0;
    font-size: 30px
}
.linkspace{
    padding-left: 30px;
}
.links{
    float: right;
    display: block;
    display: flex;
    padding-top: 10px;
    padding-right: 70px;
    font-size: 20px;
    font-family: 'Merienda One', cursive;
    position: absolute;
    right: 0;
    cursor:pointer;
}
.dropbutton {
    background-color: transparent;
    padding: 0;
    border: none;
    cursor: pointer;
    color:white;
    font-size: 20px;
    font-family: 'Merienda One', cursive;
    cursor:default;
}
  
.dropdown {
    position: relative;
    display: inline-block;
}
  
.dropdown-content {
    display: none;
    position: absolute;
    background:linear-gradient(#4c4c4c,#4c4c4c, transparent);
    min-width: 140px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-radius: 20px
}
  
.dropdown-content a {
    padding: 12px 16px;
    display: block;
    background:none;
    border-radius: 20px;
}

.dropdown-content a:hover {
    background:linear-gradient(to top,transparent,rgb(36, 36, 36),transparent);
    border-radius: 20px;
}

.dropdown:hover .dropdown-content {
  display: block;
}
.textfont{
    text-decoration: none;
    color:white;
}