#Footer{
    width:100%;
    position: fixed;
    bottom: 0;
    background: linear-gradient(transparent,#484848,black,black);
    color:white;
}
#HeadingCon{
    text-align: center;
}
#Footerheading{
    font-size: 24px;
}
.Contact{
    font-size: 20px;
}
.ContactI{
    font-size: 18px;
    margin: 0;
}
#Information{
    list-style-type: none;
}
.Conlist{
    height:40px;
    display: flex;
    flex-direction: row;
}